<!DOCTYPE html>
<html lang = "en">

<head>
    <title> COMP4321 Group 7 Search Engine </title>
</head>

<body>
    <div>
        <head> COMP4321 Group 7 Search Engine </head>
        <form class = "search-row" name = "search-row" action = "{{ url_for('submit_search') }}" method = "post">
        <input type = "text" id = "searchbar" name = "searchbar" class = "searchbar">
    </div>
    <div>        
        <input type = "checkbox" id = "matching" name = "matching" class = "matching">
        <label for = "matching"> All phrases must match. </label>
        <button type = "submit" value = "Submit" class = "search-button"> Search </button>
        </form>
    </div>
</body>
